<section class="container">
  <p class="text-center mt-4">
    Antal hundar som söker nytt hem: {{ dogService.dogs().length }} själar
  </p>

  <div class="row dogs-wrapper">
    <div *ngFor="let dog of dogService.dogs()" class="col-md-4 p-3">
      <div class="dog-card p-3 shadow h-100">
        <a [routerLink]="['/adoption-details', dog.id]">
          <img 
            [src]="dog.imageUrl.startsWith('data') ? dog.imageUrl : environment.apiUrl + dog.imageUrl" 
            alt="{{ dog.name }}" 
            class="img-fluid rounded-3 mb-3"
          />

          <h2 class="fs-1 text-decoration-underline">{{ dog.name }}</h2>
          <p class="text-start mx-4">
            <strong>Ålder:</strong>&nbsp; {{ dog.age }} år<br>
            <strong>Kön: </strong>&nbsp;  {{ dog.sex }}<br>
            <strong>Ras:</strong>&nbsp;  {{ dog.breed }}
          </p>
          <p class="adoption-card" ><strong>Läs mer om {{ dog.name }} →</strong></p>
        </a>
      </div>
    </div>
  </div>
</section>



