.dogRehomingWrapper {
  width: 100%;
  max-width: 800px;     
  margin: 0 auto;       
}

.dogRehomingImg {
  width: 100%;           
  height: auto;          
  border-radius: 1rem;
  display: block;
}

.rehomingContainer{
    background-color: #f6fbfd;
}