<section class="headerDogImg">
  <div class="overlayText">
    <h1>Välkommen till Hitta hem!</h1>
  </div>
</section>

<section class="container-fluid news mt-5 text-center">
  <div class="container">
    <article class="row text-center">
      <div class="col-12 text-center">
        <h1>Aktuellt</h1>
      </div>  
      <div class="col-md-4 mt-4 mb-4 mx-auto ">
        <img src="/dog-aktuellt.jpg" alt="dog" class="img-fluid mx-auto d-block newsImg"> <br>
        <a href="http://hundstallet.se/aktuellt/beslut-om-starkt-djurskydd/">Beslut om stärkt djurskydd</a>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <img src="/dog-semester.jpg" alt="dog" class="img-fluid mx-auto d-block newsImg"> <br>
        <a href="https://hundstallet.se/aktuellt/tips-for-semester-med-hunden/">Tipps inför semestern</a>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <img src="/dog-stray.jpg" alt="dog" class="img-fluid mx-auto d-block newsImg"> <br>
        <a href="https://hundstallet.se/aktuellt/svenskarna-mycket-positiva-till-att-adoptera-hund-anda-valjer-de-flesta-en-valp/">Många positiva till att adoptera hund-ändå väljer de felsta en valp</a>
      </div>
    </article>
  </div>
</section>

<section class="container mt-5 mb-5 text-center">
  <article class="row">
    <div class="col-12">
      <h1>Om vår verksamhet</h1>
      <p>
        Vi finns här för hundar som behöver en ny chans i livet. 
        Genom vår plattform hjälper vi både dig som söker ett 
        kärleksfullt hem till din hund och dig som vill öppna ditt hem för en ny fyrbent vän. 
        Varje hund förtjänar trygghet, omtanke och ett hem där den blir sedd för den individ den är. 
        Vi strävar efter att hitta den bästa möjliga matchningen mellan hund och adoptör, 
        med hundens behov i första rummet. Vår verksamhet bygger på engagemang, respekt och en genuin vilja 
        att göra skillnad.
      </p>
      <a routerLink="/about" class="button-about">
        Vår verksamhet &#8594;
      </a>

    </div>

  </article>

</section>

